.login-container {
  height: 100vh;
  display: flex;

  .login-btn {
    margin-top: 10px;
  }

  .left-section {
    background: linear-gradient(to bottom right, #ffffff, #e0f0f8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    width: 400px;

    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo {
        margin-bottom: 20px;
        border-radius: 10px;
      }

      h2 {
        color: #0079bf;
        font-size: 1.5rem;
      }
    }
  }

  .right-section {
    background: linear-gradient(to bottom right, #0079bf, #70b3d0);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    animation: fadeIn 0.5s ease-in-out;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .left-section {
      display: none;
    }

    .right-section {
      width: 100%;
      border-top-left-radius: 0;
      /* Esquina superior izquierda */
      border-bottom-left-radius: 0;
      /* Esquina inferior izquierda */
    }
  }
}
